﻿
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .tbform td {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/Users">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Admin/Users">Danh sách tài khoản</a>
        </li>
        <li class="">
            <a href="/Admin/Users/Create">Thêm mới tài khoản</a>
        </li>
    </ul>
}
@using (Html.BeginForm("CreateUser", "UserInfoes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <form class="form-horizontal form-regform" id="form" method="POST" role="form">

        <div class="form-group">
            <label class="col-md-4 control-label" for="UserName">User Name</label>
            <div class="col-md-8">
                <input class="form-control" id="UserName" placeholder="Số điện thoại thật" name="UserName" value="" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="Phone">Số điện thoại</label>
            <div class="col-md-8">
                <input class="form-control" id="Phone" placeholder="Số điện thoại thật" name="Phone" value="" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Mật khẩu</label>
            <div class="col-md-8">
                <input class="form-control" id="password" placeholder="Mật khẩu nhiều hơn 6 kí tự" name="password" type="password" aria-autocomplete="list">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="ConfirmPassword">Nhập lại mật khẩu</label>
            <div class="col-md-8">
                <input class="form-control" id="ConfirmPassword" placeholder="Nhập lại chính xác" name="ConfirmPassword" type="password">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="hoten">Họ tên</label>
            <div class="col-md-8">
                <input class="form-control" id="hoten" name="hoten" placeholder="Họ tên thật của bạn" value="" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="hoten">Email</label>
            <div class="col-md-8">
                <input class="form-control" id="email" name="email" placeholder="Địa chỉ email" value="" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="hoten">Địa chỉ</label>
            <div class="col-md-8">
                <input class="form-control" id="address" name="address" placeholder="Địa chỉ của bạn" value="" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12" style="text-align:center">
                <div class="tbao"></div>
                <input name="submit1" id="btnSubmit" type="submit" class="btn btn-danger btn-sm submitreg" value="Đăng ký">
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </form>
}
@*<script src="~/scripts/jquery-2.1.4.js"></script>*@
<script>
    $(document).ready(function () {
        $('#Address').keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });
        $('#btnSubmit').click(function () {

            if ($('#Phone').val() == "") {
                toastr.error('Số điện thoại không được để trống');
                return false;
            }
            if ($('#password').val() == "") {
                toastr.error('Mật khẩu không được để trống');
                return false;
            }
            if ($('#ConfirmPassword').val() == "") {
               toastr.error('Mật khẩu nhập lại không được để trống');
                return false;
            }
            if ($('#password').val() != $('#ConfirmPassword').val()) {
                toastr.error('Mật khẩu nhập lại phải giống mật khẩu!');
                return false;
            }
            var userName = $('#UserName').val();
            var filter = /^([a-zA-Z0-9\.\-_?@@]+)$/;
            if (!filter.test(userName.value)) {
                toastr.error('Tài khoản k được kí tự đặc biệt!');
                return false;
            }
        })
    });

</script>
@*google map*@
<script>
    function validateForm() {
        return true;
    }
    function removeunicode(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        // Gộp nhiều dấu space thành 1 space
        str = str.replace(/\s+/g, '');
        // loại bỏ toàn bộ dấu space (nếu có) ở 2 đầu của xâu
        str.trim();
        return str;
    }
    $(document).ready(function () {
        $("#UserName").keypress(function () {
            $("#UserName").val(removeunicode($("#UserName").val()));
        });

        // only check one role
        $('.cbrole').on('change', function () {
            $('.cbrole').not(this).prop('checked', false);
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



