﻿@model IEnumerable<AceModel.Entity.UserInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách User</h2>

<p>
    @Html.ActionLink("Thêm mới User", "CreateUser")
</p>
<table class="wapperpager table table-bordered table-hover dataTable" id="dynamic-table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Ngày tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_At)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                    <button style="border:none; background:none" title="Phân quyền" onclick="DanhSachChuyenMuc('@item.ApplicationUserID')">
                        <img src="~/assets/img/icondown.png" style="width: 33px; height: 31px; padding:5px" title="Phân quyền" alt="Gán chuyen muc" onclick="GetId('@item.ApplicationUserID')" /> |
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="listChietKhau" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Danh sách chiết khấu đại lý
                </div>
            </div>
            <div class="modal-body no-padding">
                <div class="row" id="dvCategoryResults" style="margin: 18px 0px -10px 0px; width:100%">
                    <center>
                        <table id="tblDanhSachChietKhau" border='1' style="margin: 18px 0px 30px 0px; width:90%; font-size:15px" class="wapperpager table table-bordered table-hover dataTable">
                        </table>
                    </center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-Luu" data-dismiss="modal" onclick="Luu()">
                        <i class="ace-icon fa fa-times"></i>
                        Xác nhận
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>

<div id="listCate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Danh sách chuyên mục
                </div>
            </div>
            <div class="modal-body no-padding">
                <div class="row" id="dvCategoryResults" style="margin: 18px 0px -10px 0px; width:100%">
                    <center>
                        <table id="tblDanhSachloaithe" border='1' style="margin: 18px 0px 30px 0px; width:90%; font-size:15px" class="wapperpager table table-bordered table-hover dataTable"></table>
                    </center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-XacNhan" data-dismiss="modal" onclick="XacNhan()">
                        <i class="ace-icon fa fa-times"></i>
                        Xác nhận
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
<div id="divProcessing" style="height:1000px;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: absolute;top: 50%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
        $('#dynamic-table')
        .dataTable({
            bAutoWidth: false,
            "aoColumns": [
              { "bSortable": false },
              null,null, null,
              { "bSortable": false }
            ],
            "aaSorting": [],
            "pageLength": 100
        });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
        .prependTo('.tableTools-container .btn-group')
        .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
        .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
        .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
        .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>
<script>
    $(document).ready(function () {
        $("#divProcessing").hide();

        $('.cball').click(function () {
            if ($('.cball').is(":checked")) {

                //var table = $('#grvOrder').DataTable();
                $('#tblDanhSachloaithe > tbody > tr').each(function () {
                    $this = $(this);
                    listId = listId + $(this).find('td').eq(0).find('input[type="hidden"][name="hdfId"]').val() + ',';
                    sessionStorage.setItem('listId', listId);
                });
                console.log(listId);
            } else {

            }

        });
    });
    function GetId(id) {
        var id = id;
        sessionStorage.setItem('id', id);
    };
    function DanhSachChuyenMuc(userId) {
        var searchString = $("#SearchString").val();
        var id = sessionStorage.getItem('id');
        $.ajax({
            type: "GET",
            url: "/UserInfoes/ListCarType",
            data: {
                userId: userId
            },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                var trHTML = '';

                $("#tblDanhSachloaithe").empty();

                //create table header
                var headertr = $("<thead><tr><th class='center'><label class='pos-rel'><input type='checkbox' class='ace cball'><span class='lbl'></span></label> </th><th>Cate</th> </tr></thead>");

                //get table id from jquery
                var tableelement = $("#tblDanhSachloaithe");

                //add header row to table
                tableelement.append(headertr);

                var tbody = $("<tbody>");
                tableelement.append(tbody);

                $.each(result.categories, function (i, item) {
                    var isCheck = false;
                    var lstsys_usercard = result.userinfoes;
                    if (lstsys_usercard != null) {
                        var arrayUserCarChecked = lstsys_usercard.CateId.split(',');
                        for (var j = 0; j < arrayUserCarChecked.length; j++) {
                            if (item.Name == arrayUserCarChecked[j]) {
                                isCheck = true;
                                break;
                            }
                        }
                    }

                    if (isCheck === true) {
                        trHTML += '<tr> <td style="text - align: center;"><label class="pos-rel"><input checked type="checkbox" class="ace cball" name="' + item.Name + '" /><span class="lbl"></span></label></td><td>' + item.Name + '</td> </tr>';
                    } else {
                        trHTML += '<tr> <td style="text - align: center;"><label class="pos-rel"><input type="checkbox" class="ace cball" name="' + item.Name + '" /><span class="lbl"></span></label></td><td>' + item.Name + '</td> </tr>';
                    }
                });

                tableelement.append(trHTML);
                tbody = $("</tbody>");
                tableelement.append(tbody);

                $('#listCate').modal('show');
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };


    function XacNhan() {
        debugger
        var lstCardType = "";
        $('#tblDanhSachloaithe').find('input[type="checkbox"]:checked').each(function () {
            lstCardType = lstCardType + $(this).attr('name') + ',';
        })
        var userId = sessionStorage.getItem('id');
        var lstId = sessionStorage.getItem('listId');
        $.ajax({
            type: "GET",
            url: "/UserInfoes/XacNhan",
            data: {
                userId: userId,
                cardType: lstCardType
            },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                if (result == "OK") {
                    //ShowMessage("Gán thành công");
                    setTimeout(function () { $('#listCate').hide(); }, 1500);
                    location.reload();
                }
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
</script>